
.svn
CVS
*.o
*.orig
*.rej
*.bak
*.d
*.bin
*.dump
u-boot
*.bin
*.map
*.swp
*.a
*.o
*.depend
*.asm
*.srec
mplayer
mencoder
codec-cfg
codecs.conf.h
help_mp.h
version.h
configure.log
*.tmp
.libs
*.lo
*.la
mad.h
